.headerParent {
    width: 100%;
    display: none;
    height: 60px;
}

/*.headerChild {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 150px;
}*/

@media (min-width: 50px) and (max-width: 1000px) {
    .headerParent {
        position: fixed;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        top: 0;
        z-index: 9;
        margin-top: 70px;
    }

    /*.headerChild {
        width: 360px;
        margin-right: 0;
    }*/
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


@media (min-width: 50px) and (max-width: 1000px) {

    .main_block {
        display: flex;
        z-index: 9;
    }

    .one_block {
        position: absolute;
        display: flex;
        left: 30px;
        padding: 2px;
        z-index: 9;
        top: -35px;
    }

    .one_block:hover {
        background-color: rgba(234, 234, 234, 0.42);
        box-shadow: 0 3px 5px 2px rgb(64 60 67 / 30%);
    }
    .two_block {
        display: flex;
    }

    .two_block_two:hover {
        background-color: rgba(234, 234, 234, 0.42);
        box-shadow: 0 3px 5px 2px rgb(64 60 67 / 30%);
    }
    .two_block_two {
        position: absolute;
        display: flex;
        left: 30px;
        top: -35px;
        padding: 2px;
    }




    .block_burger_menu {
        display: flex;
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.53);
        opacity: 0.88;
        z-index: 9;
    }

    .menu_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
        z-index: 9;
    }

    .item_div {
        display: flex;
        width: 100%;
        justify-content: center;
        border-radius: 10px;
        padding: 7px;
        z-index: 9;
    }

    .item {
        text-decoration: none;
        padding: 10px;
        color: black;
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        height: 70px;
        align-items: center;
        background-color: white;
        border: 2px dashed;
        z-index: 1;
        margin: 3px 0;
    }

    .item:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 5px 1px rgba(26, 25, 25, 0.47);
    }

    .spanClosedInvisible {
        left: 25px;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .spanClosedInvisible::before {
        content: '';
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform: translateY(7px);
        transition: transform .2s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .spanClosedInvisible::after {
        content: '';
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform: translateY(-7px);
        transition: transform .2s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .spanOpenInvisible {
        left: 25px;
        top: 50%;
        bottom: auto;
        right: auto;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: transparent;
    }

    .spanOpenInvisible::before {
        content: '';
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform: rotate(-45deg);
        transition: transform .2s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .spanOpenInvisible::after {
        content: '';
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform: rotate(45deg);
        transition: transform .2s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: black;
    }

    .menuItem {
        position: absolute;
        top: -500px;
        text-decoration: none;
        font-size: x-large;
        padding: 5px 10px;
        color: black;
    }
}


