.input_block {

    width: 200px;
    height: 20px;
    border: none;
    font-size: 1.2rem;
}

.input_block {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}

.input_block:active {
    outline: none;
}
.input_block:focus {
    outline: none;
}
.input_block:hover {
    outline: none;
}

.text_block {
    box-sizing: border-box;
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    color: #242524;
}