.main_search_block {
    width: 100%;
    height: 100%;
    display: flex;
}

.search_block {
    position: fixed;
    right: 15px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 25%;
    height: 50%;
}

.results_show_films {
    width: 66%;
    background-color: white;
    border-radius: 20px;
}