.blockButtonsPage{
    display: flex;
    width: 600px;
    justify-content: space-between;
    height: 55px;
    align-items: flex-end;
    box-shadow: 0 2px 5px 1px rgba(80, 85, 87, 0.52);
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (min-width: 200px) and (max-width: 700px) {
    .blockButtonsPage {
        width: 100%;
    }
}
