@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
:root {
    --color: #faa700;
    --color-light: #f5ede1;
    --dark: #a7a7a7;
    --dark: #8a8a8a;
    --darker: #303030;
    --sans-serif: 'Roboto', sans-serif;
    --darkBlue: #0a1a24;
}

.main_page_class * {
    transition: 1s all;
}

.main_page_class {
    width: 95%;
    background: #0a1a24;
}

@media (max-width: 1000px) {
    .main_page_class {
        width: 100%;
    }
}

.background {
    width: 100%;
    background: url(https://cdn.klove.com/images/music/artists/bios/SkilletUnleashed.KLArtist.jpg) center/cover;
    box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
    position: absolute;
    top: 0;
    z-index: -1;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 85%;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #2e3342;
    align-items: center;
    color: white;
    box-shadow: 0px 1px 10px 2px rgba(255, 255, 255, 0.27);;
}

.link {
    position: relative;
    left: 66%;
    top: -30px;
    border: 1px solid var(--dark);
    padding: 5px;
    cursor: pointer;
    color: var(--dark);
}

.close:hover {
    color:  #faa700;
    box-shadow: 0px 1px 10px 2px #949494;
}

.background + section {
    background: transparent;
    --dark: rgba(255, 255, 255, .5);
    --dark: rgba(255, 255, 255, .6);
    --darker: rgba(255, 255, 255, .8);
}
.background + section .bookmark {
    border-color: rgba(255, 255, 255, .2);
}
.background + section .bookmarkSave {
    border-color: #faa700;
}
.background + section .bookmark svg {
    fill: #fff;
}
.background + section .bookmarkSave svg {
    fill: #faa700;
}
.background + section .album_tracks {
    background: rgba(255, 255, 255, .1);
    border: none;
}
section {
    background: #fafafa;
    margin: 100px 56px;
    padding: 20px 56px;
    color: var(--darker);
    color: rgba(255, 255, 255, .8);
}
section .album_info:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
section .album_art {
    float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}
section .album_art * {
    border-radius: 3px;
}
section .album_art img {
    width: 100%;
    max-height: 250px;
    margin-bottom: 10px;
    margin-top: -105px;
    box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}
section .play {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    align-content: initial;
    color: white;
    background: var(--color);
    padding: 10px;
    border: none;
    text-transform: uppercase;
    flex: 1 0 50%;
}
section .play:hover {
    color: var(--darkBlue);

}
section .bookmark {
    cursor: pointer;
    display: flex;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    align-content: initial;
    width: 48px;
    height: 48px;
    border: 3px solid var(--color-light);
    margin-left: 10px;
}
section .bookmarkSave {
    cursor: pointer;
    display: flex;
    flex-wrap: initial;
    justify-content: center;
    align-items: center;
    align-content: initial;
    width: 48px;
    height: 48px;
    border: 3px solid var(--color-light);
    margin-left: 10px;
}
section .album-details > * {
    padding: 10px 0;
}
section h2 {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    align-items: center;
    align-content: initial;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
section h2 img {
    width: 24px;
    border-radius: 50%;
    margin-right: 10px;
}
section h1 {
    max-width: 90%;
    font-size: 50px;
    font-weight: 300;
    word-wrap: break-word;
}
section h1 + span {
    color: var(--dark);
}
section h1 + span span:first-child {
    padding-right: 20px;
}
section p {
    margin-top: 15px;
}
section .album-tracks {
    background: #f8f8f8;
    border: 1px solid #efefef;
    margin-top: 20px;
}

ol {
    list-style-type: none;
    padding: 20px 36px;
    font-weight: 500;
}
ol li {

    counter-increment: number;
    display: flex;
    flex-wrap: initial;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
    height: 60px;
    color: var(--dark);
}
ol li span:not(:last-child) {
    margin-right: 2em;
}

li {
    cursor: pointer;
    margin-bottom: 10px;
}

ol li span:first-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--darker);
}
ol li span:first-child:before {
    content: counter(number);
    margin-right: 2em;
    color: var(--dark);
    display: inline-block;
    text-align: end;
    width: 20px;
}
.actions {
    display: flex;
    flex-wrap: initial;
    justify-content: initial;
    align-items: initial;
    align-content: initial;
    flex: 1 1 100%;
}

.audio_block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 56px;
    border-radius: 45px;
    overflow: hidden;
    background-color: #dfe6ed;
}

@media (max-width: 800px) {
    section {
        margin: 100px 36px 36px 36px;
    }
}
@media (max-width: 700px) {
    section .album-art {
        width: 100%;
    }
    section .album-art img {
        width: auto;
        max-width: 100%;
        margin: -100px auto 10px auto;
        display: block;
    }
    section .album-details {
        float: left;
        max-width: 100%;
    }
}
@media (max-width: 550px) {
    section {
        margin: 100px 20px 20px 20px;
        padding: 20px 16px;
    }
    section ol {
        padding: 16px;
    }
}

@media (max-width: 1000px) {
    ol li span:not(:last-child) {
        margin-right: 1em;
    }


    .close {
        top: 65%;
    }
    section h1 {
        display: flex;
    }

}
