.search_panel_block {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 10px;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
}

.icon_search {
    width: 20px;
    height: 20px;
}

.input {
    margin: 0 10px;
    width: 200px;
    height: 20px;
    border: none;
    font-size: 1rem;
}

.input:active {
    border: none;
    outline: none;
}
.input:focus {
    border: none;
    outline: none;
}
.input:hover {
    border: none;
    outline: none;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .icon_search {
        display: none;
    }

    .input {
        display: none;
    }
}
