.infoBlock {
    width: 50%;
    height: 100%;

    background-color: #EFF3F3;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.infoBlock span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #F4F9F9;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.05em;
    text-transform: inherit;
    display: inline-flex;
    text-align: center;

    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
}

@media screen and (max-width: 834px) {
    .infoBlock {
        width: 45%;
        word-wrap: break-word;
    }
    .infoBlock span {
        text-align: left;
        word-break: break-word;
        margin-left: 5px;
        /*flex-shrink: 1;*/
        /*display: inline-block;*/
        /*box-sizing: border-box;*/
    }
}
@media screen and (max-width: 525px) {
    .infoBlock {
        display: none;
    }
}