.main_block_preloader {
    margin-left: 50px;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .main_block_preloader {
        margin: 0 auto;
    }
}

.preloader {
    width: 400px;
    margin-left: 100px;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .preloader {
        width: 400px;
    }
}

@media (min-width: 50px) and (max-width: 700px) {
    .preloader {
        width: 200px;
    }
}