.mainDiv {
    border: 2px dashed ;
    display: flex;
    height: auto;
    width: 90%;
    margin: 10px 0;
    flex-direction: column-reverse;
    justify-content:center;
    align-items:center;
    padding: 10px 0;
    background-color: white;
    border-radius: 20px;
}

.image {
    height: 150px;
    width: 150px;
}

.button {
    display: inline-block;
    box-shadow: -1px -1px 1px 2px gray;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 10px 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 40px;
    line-height: 30px;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #000000;
    background-color: #dfe6ed;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
    width: 100%;
}
.button:hover {
    opacity: 0.88;
}
.button:disabled {
    cursor: no-drop;
    opacity: 0.55;
}