.header {
    position: fixed;
    grid-area: h;
    background-color: #ffffff;
    display: grid;
    grid-template-columns:1fr 3fr;
    width: 100%;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}

.nameHeader {
    display: flex;
    width: 100%;
}

.logo{
    margin: 10px 0 0 20px;
    width: 60px;
}

