.header {
    grid-area: h;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
    justify-content: space-between;
}

.burger {
    width: 100px;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .header {
        position: fixed;
        height: 70px;
        z-index: 999;
    }
}

@media (min-width: 200px) and (max-width: 700px) {
    .header {
        position: fixed;
        height: 70px;
        z-index: 999;
    }
}

.nameHeader {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}


@media (min-width: 700px) and (max-width: 1200px) {
    .nameHeader {
        display: block;
        width: 200px;
        font-weight: 500;
        font-size: 1.2rem;
        justify-content: flex-start;
        margin-left: 100px;
    }
}

@media (min-width: 200px) and (max-width: 700px) {
    .nameHeader {
        position: absolute;
        top: -500px;
    }
}

.logo_block {
    display: flex;
    width: 50px;
    height: 50px;
}

.logo{
    position: absolute;
    width: 150px;
    height: 100px;
    top: -30px;
    left: -40px;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .logo_block {
       display: none;
    }
}

.search {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid;
    padding: 12px;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .search {
        display: none;
    }
}

