.nav {
    min-height: 100%;
    grid-area: n;
    font-size: 25px ;
    text-align: center;
    background-color: dodgerblue;
    padding-top: 30px;
}

.blockSideImg {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.item a{
    text-decoration: none;
    color: white;

}

.item a:hover {
    color: gold;
}
.item a:focus {
    color: gold;
}

.sideBar {
    padding-top: 5rem;
}