.nav {
    width: 300px;
    height: auto;
    grid-area: n;
    font-size: 20px ;
    text-align: center;
    background-color: white;
    padding: 25px 0 0 20px;
    display: flex;
    border-radius: 20px;
}
.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blockSideImg {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
    text-decoration: none;
    color: black;

}

.item a:hover {
    color: #40b5ff;
}
.item a:focus {
    color: #40b5ff;
}

.sideBar {
    padding-top: 5rem;
}

.p {
    padding-top: 30px;
}