.main {
    width: 100%;
}

.descriptionsBlock {
    padding: 10px;
}

.image {
    width: 700px;
    height: 400px;
}

@media (min-width: 300px) and (max-width: 700px) {
    .item {
        width: 100%;
    }
    .image {
        width: 100%;
        height: auto;
    }
}