.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.textMessageBlock {
    padding-left: 30px;
}

.post {
    padding: 25px;
    margin-bottom: 15px;
    border: 1px dashed;
}

.likesBlock {
padding-top: 10px;
}

.like {
    color:red;
}