.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.textMessageBlock {
    padding-left: 30px;
}

.post {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}

@media (min-width: 50px) and (max-width: 1000px) {
    .post {
        width: 89%;
        padding: 20px;
    }
}

.likesBlock {
padding-top: 10px;
}

.like {
    color:red;
}