.main_news_block {
    display: flex;
    height: 81%;
}

.block_news {
    width: 60%;
    background-color: transparent;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

.block_tools_news {
    width: 30%;
    background-color: white;
    border-radius: 20px;
}




.small_block_news {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}

@media (min-width: 50px) and (max-width: 1200px) {

}

.name_news {
    font-weight: 600;
    font-size: 1.3rem;
    color: #27292c;
    border: 1px solid;
}