.block_all_dialogs {
    display: flex;
    justify-content: center;
}

.dialogs {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 0 30px;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .dialogs {
        margin: 0 auto;
    }
}

.addMessageBlock {
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: space-between;
    margin: 30px 30px 15px 0;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .addMessageBlock {
        flex-wrap: wrap;
    }
}

.inputAddMessage {
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 10%;
    width: 70%;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .inputAddMessage {
        width: 100%;
        margin: 0 30px;
    }
}

.buttonAddMessages {
    width: 150px;
    float:right;
    display: inline-block;
    box-shadow: -1px -1px 1px 2px gray;
    box-sizing: border-box;
    padding: 0 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 40px;
    line-height: 30px;
    font-size: 1.0rem;
    font-weight: 600;
    text-decoration: none;
    vertical-align: top;
    color: #55677d;
    background-color: #dfe6ed;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .buttonAddMessages {
        padding: 0;
        width: 100%;
    }
}

.buttonAddMessage {
    padding: 4px 20px ;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .buttonAddMessage {
        padding: 0;
        margin: 15px 40px;
        width: 100%;
    }
}

.buttonAddMessages:hover {
    opacity: 0.88;
}
.buttonAddMessages:active {
    line-height: 32px;
}
.buttonAddMessages:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.messages {
    width: 100%;
    padding-top: 1rem;
}

.dialog a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-left: 15px;
}

.main_block {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.main_block:hover {
    background-color: rgba(234, 234, 234, 0.52);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}
.main_block:focus {
    background-color: rgba(234, 234, 234, 0.52);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}

.main_messages_block {
    background-color: white;
    border-radius: 20px;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .main_messages_block {
        width: 100%;
        padding: 5px;
        margin: 0 10px;
    }
}

.dialogsItems {
    width: 20%;
    min-width: 160px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .dialogsItems {
        display: none;
    }
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
