.dialogs {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 200px) and (max-width: 700px) {
    .dialogs {
        margin-left: -300px;
    }
}

.addMessageBlock {
    display: flex;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
    justify-content: space-between;
}

.inputAddMessage {
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 10%;
    width: 70%;
}

.buttonAddMessages {
    float:right;
    display: inline-block;
    box-shadow: -1px -1px 1px 2px gray;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 40px;
    line-height: 30px;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
    color: #55677d;
    background-color: #dfe6ed;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    overflow: hidden;
}

@media (min-width: 200px) and (max-width: 700px) {
    .buttonAddMessages {
        padding: 0;
        margin: 0;
    }
}

.buttonAddMessage {
    padding: 4px 20px ;
}

@media (min-width: 200px) and (max-width: 700px) {
    .buttonAddMessage {
        padding: 0;
    }
}

.buttonAddMessages:hover {
    opacity: 0.88;
}
.buttonAddMessages:active {
    line-height: 32px;
}
.buttonAddMessages:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.messages {
    width: 100%;
    padding-top: 1rem;
}

.dialog a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-left: 15px;
}

.main_block {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.main_block:hover {
    background-color: rgba(234, 234, 234, 0.52);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}
.main_block:focus {
    background-color: rgba(234, 234, 234, 0.52);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}

.main_messages_block {
    background-color: white;
    border-radius: 20px;
    margin-left: 50px;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

@media (min-width: 200px) and (max-width: 700px) {
    .main_messages_block {
        width: 450px;
        padding: 20px;
        margin: 0;
        height: auto;
    }
}

.dialogsItems {
    margin-left: 20px;
    width: 20%;
    min-width: 160px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
}

@media (min-width: 200px) and (max-width: 700px) {
    .dialogsItems {
        width: 200px;
        margin-right: 5px ;
    }
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
