.grid_container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    background-color: dodgerblue;
}

.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.message_2 {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.avatar_2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 7px 7px 7px 0;
    background-color: rgba(44, 255, 209, 0.47);
}

.content_2 {
    padding: 10px;
    border-radius: 7px 7px 0 7px;
    background-color: royalblue;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(44, 255, 209, 0.47));
}

.angle_2 {
    width: 15px;
    height: 15px;
    transform: rotate(0.25turn);
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, royalblue 0);
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: black;
}

.text_2 {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: white;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.name_2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: darkgray;
}

.time_2 {
    display: flex;
    justify-content: flex-end;
    color: darkgray;
}