.search_panel_block {
    display: flex;
}

.icon_search {
    width: 20px;
    height: 20px;
    margin-top: 1px;
}

.input {
    margin: 0 10px;
    width: 200px;
    height: 20px;
    border: none;
    font-size: 1.2rem;
}

.input:active {
    border: none;
    outline: none;
}
.input:focus {
    border: none;
    outline: none;
}
.input:hover {
    border: none;
    outline: none;
}

