.block {
    display: flex;
}

.allBlock {
    padding: 10px;
    max-width: 60px;
    border-radius: 5px;
}

.allBlock:hover {
    background-color: rgba(234, 234, 234, 0.52);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 30%);
}

.img_right {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img_center {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img_left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name_friends {
    font-size: medium;
}